<html>
    <head>
        <title>Josie's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">A pinch of magic</a></h1>
        </div>

        <div>
            <p>published: 21/09/2019, 16:15</p>
            <h2><a href="">"It does not do to dwell on dreams and forget to live"</a></h2>
            <p>Don't live your imagination. But believe in them.</p>
        </div>

        <div>
            <p>published: 21/09/2019, 16:26</p>
            <h2><a href="">Those who do not travel, only read one page.</a></h2>
            <p>Traveling opens up so many opportunities.</p>
        </div>
    </body>
</html>